In [7]:
import importlib
import etl_utils
importlib.reload(etl_utils)
from etl_utils import run_etl_pipeline


#from etl_utils import (
    #download_trading_data,
    #fetch_metadata,
    #merge_csvs,
    #clean_trading_data,
    #run_etl_pipeline
#)


# Define the list of tickers for the Technology sector
tickers = ['AAPL', 'MSFT', 'GOOGL', 'NVDA', 'ADBE']

# Define the base folder path (all output will go inside this)
base_folder = "/Users/xiejing/Desktop/Codeoptest/test"

# Define the sector name (used to name subfolder and files)
sector_name = "Technology"

# Optional: specify a different date range (or just use defaults)
start_date = "2020-01-01"
end_date = "2025-05-20"

# Run the pipeline
run_etl_pipeline(tickers, base_folder, sector_name, start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

üöÄ Starting ETL pipeline for sector: Technology
Downloading AAPL...
Saved: AAPL.csv
Downloading MSFT...
Saved: MSFT.csv
Downloading GOOGL...
Saved: GOOGL.csv
Downloading NVDA...

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Saved: NVDA.csv
Downloading ADBE...
Saved: ADBE.csv
Saved metadata to /Users/xiejing/Desktop/Codeoptest/test/Technology/Technology_metadata.csv
Merged CSV saved to Technology_merged_trading_data.csv
‚úÖ ETL completed for sector: Technology

           Date       Close        High         Low        Open    Volume
0    2020-01-02  334.429993  334.480011  329.170013  330.000000   1990100
1    2020-01-03  331.809998  332.980011  328.690002  329.170013   1577600
2    2020-01-06  333.709991  333.910004  328.190002  328.290009   1874700
3    2020-01-07  333.390015  334.790009  332.309998  334.149994   2500800
4    2020-01-08  337.869995  339.230011  333.399994  333.809998   2248500
...         ...         ...         ...         ...         ...       ...
6755 2025-05-13  212.929993  213.399994  209.000000  210.429993  51909300
6756 2025-05-14  212.330002  213.940002  210.580002  212.429993  49325800
6757 2025-05-15  211.449997  212.960007  209.539993  210.949997  45029500
6758 2025-05-16  211.259995  212.570007  209.770004  212.360001  54737900
6759 2025-05-19  208.779999  209.479996  204.259995  207.910004  46140500

[6760 rows x 6 columns]

In [8]:
import importlib
import etl_utils
importlib.reload(etl_utils)
from etl_utils import run_etl_pipeline

run_etl_pipeline(['AAPL', 'GOOGL'], "/Users/xiejing/Desktop/Codeoptest/test", "Technology")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

üöÄ Starting ETL pipeline for sector: Technology
Downloading AAPL...
Saved: AAPL.csv
Downloading GOOGL...
Saved: GOOGL.csv

Saved metadata to /Users/xiejing/Desktop/Codeoptest/test/Technology/Technology_metadata.csv
‚ö†Ô∏è Sector mismatch detected for the following tickers:
  ticker                  sector
1  GOOGL  Communication Services
üö´ ETL stopped. Please verify your ticker list or sector_name.